
#map {
    height: 1000px;
} 
body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: #50BCDF;
    color: white;
    padding: 1em 0;
    text-align: center; 
    font-size: 30px;
    h1,h3{
        margin: 0;
    }
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    height: fit-content;
}
.iframe-container, .map-container {
    width: 80%;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: 1420px;
    border: none;
}
.footer {
    display: flex;
    background-color: #50BCDF;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: static;
    width: 100%;
    bottom: 0;
    justify-content: space-around;
}
.team{
    display: flex;
    align-self: center;
    a{
        margin-left: 5px;
        text-decoration: none;
        color: white;
        align-self: center;
    }
}
.map_header{
    margin-left: 10px;
}
.github_logo{
    margin-left: 10px;
    width: 30px;
    align-self: center;
    height: 30px;
}